In [1]:
import datetime
from dateutil import tz
import fsspec
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [16]:
df = pd.read_csv('caco-01_inventory.txt', header=None, delim_whitespace=True, parse_dates={'datetime': [0, 1]})
df.rename(columns={2:'fid',3:'filename'}, inplace=True)
del df['fid']
df

                 datetime                   filename
0     2019-12-11 15:45:06     1576094400.c1.snap.jpg
1     2019-12-11 15:45:07     1576094400.c2.snap.jpg
2     2019-12-11 15:45:08    1576094401.c1.timex.jpg
3     2019-12-11 15:45:08    1576094401.c2.timex.jpg
4     2019-12-11 15:45:09      1576094402.c1.var.jpg
...                   ...                        ...
89608 2020-09-25 16:04:50   1601062203.c2.bright.jpg
89609 2020-09-25 16:04:53     1601062204.c1.dark.jpg
89610 2020-09-25 16:04:57     1601062204.c2.dark.jpg
89611 2020-09-25 16:04:59  1601062205.c1.rundark.jpg
89612 2020-09-25 16:05:03  1601062205.c2.rundark.jpg

[89613 rows x 2 columns]

In [22]:
cams = ['c1','c2']
pics = ['snap','timex','bright','dark','var']
for c in cams:
    for p in pics:
        s = c+'.'+p
        print(s, df['filename'].str.contains(s).sum())

c1.snap 7720
c1.timex 7718
c1.bright 7718
c1.dark 7718
c1.var 7718
c2.snap 7218
c2.timex 7217
c2.bright 7217
c2.dark 7217
c2.var 7217

In [24]:
print(7218/7720)

0.9349740932642487

In [26]:
date_time_str = '2020-01-01 00:00'
date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M')
print(date_time_obj)
utc = datetime.datetime.utcfromtimestamp(1600716600)
print(utc)

2020-01-01 00:00:00
2020-09-21 19:30:00

In [33]:
hr_list = ['06','07','08','09','10','11','12','13','14','15','16','17','18','19']
mn_list = ['00','30']
for h in hr_list:
    for m in mn_list:
        dts = ('2020-01-01 '+h+':'+m)
        dto = datetime.datetime.strptime(dts, '%Y-%m-%d %H:%M')
        print(dto.time())

06:00:00
06:30:00
07:00:00
07:30:00
08:00:00
08:30:00
09:00:00
09:30:00
10:00:00
10:30:00
11:00:00
11:30:00
12:00:00
12:30:00
13:00:00
13:30:00
14:00:00
14:30:00
15:00:00
15:30:00
16:00:00
16:30:00
17:00:00
17:30:00
18:00:00
18:30:00
19:00:00
19:30:00